# Running python code
**/tempCodeRunnerFile.py

# Visual Studio
**/.vs/
**/*.exe
**/*.vcxproj.filters
**/*.vcxproj.user
**/*.vcxproj
**/*.sln
**/x64/

# Visual Studio Code
**/.vscode/

**/.git/
**/__pycache__/



